<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/NarutoVsGaara.css">
    <link rel="shortcut icon" href="../../static/img/minato-chrome-icon.png">
    <title>Naruto Vs Gaara</title>
</head>

<body>
    <div class="bg">
        <div class="bg2">
            <div class="conteudo">

                <h2>Naruto</h2>
                <span>VS</span>
                <h2>Gaara</h2>
                <div class="container">

                    <img src="../../static/img/narutoXgaara.gif" alt="">
                    <form action="/">
                        <button>
                            Voltar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>